/* ************************************************* */
/* ******************** HOME *********************** */
/* ************************************************* */

.card {
    padding-right: 140px;
}
html[dir='rtl'] .card {
    padding-right: 10px;
    padding-left: 140px;
}


/* EXTRA_APP_CARDS */
.card.khanacademy {
    background-image: url('./img/cards/khanacademy.png');
}
.card.appinventor {
    background-image: url('./img/cards/appinventor.jpeg');
}
.card.bsfcampus {
    background-image: url('./img/cards/bsfcampus.png');
}
.card.koombookedu {
    background-image: url('./img/cards/koombookedu.png');
}

/* BUILTIN_APP_CARDS */
.card.blog {
    background-image: url('./img/blog.png');
}
.card.library {
    background-image: url('./img/library.png');
}
.card.mediacenter {
    background-image: url('./img/mediacenter.png');
}
