{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
                <div class="col two-third">
                    {% block heading %}{% endblock heading %}
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="col third">
                    {% block col %}{% endblock col %}
                </div>
        </div>
    </form>
{% endblock content %}
