{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col half">
            <h2 class="flow"><span class="theme create">blog</span><span>{% trans "LAST POSTS" %}</span></h2>
            {% for content in blog_contents %}
                {% include 'blog/content_card.html' %}
            {% endfor %}
        </div>
        <div class="col half">
            {% include 'ideasbox/includes/wikipedia_card.html' %}
            {% include 'ideasbox/includes/khan-academy_card.html' %}
            {% if random_book %}
                {% include 'ideasbox/includes/book_card.html' with book=random_book %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
