{% extends 'base.html' %}

{% load i18n ideasbox_tags %}

{% block content %}
    <div class="row column_small_screen">
        <div class="col third">
            {% include 'ideasbox/includes/wikipedia_card.html' %}
            {% include 'ideasbox/includes/khan-academy_card.html' %}
            {% include 'ideasbox/includes/wikipedia_card.html' %}
            {% include 'ideasbox/includes/khan-academy_card.html' %}
            {% include 'ideasbox/includes/wikipedia_card.html' %}
            {% include 'ideasbox/includes/khan-academy_card.html' %}
        </div>
        <div class="col third">
            {% include 'ideasbox/includes/wikipedia_card.html' %}
            {% include 'ideasbox/includes/khan-academy_card.html' %}
            {% include 'ideasbox/includes/wikipedia_card.html' %}
            {% include 'ideasbox/includes/khan-academy_card.html' %}
            {% include 'ideasbox/includes/wikipedia_card.html' %}
            {% include 'ideasbox/includes/khan-academy_card.html' %}
        </div>
        <div class="col third">
            {% include 'search/box.html' %}
            {% if blog_content %}
                {% include 'ideasbox/includes/blog_card.html' with content=blog_content %}
            {% endif %}
            {% if random_book %}
                {% include 'ideasbox/includes/book_card.html' with book=random_book %}
            {% endif %}
            {% if random_doc %}
                {% include 'ideasbox/includes/document_card.html' with document=random_doc %}
            {% endif %}
            {% tag_cloud url="by_tag" %}
        </div>
    </div>
{% endblock content %}
