{% load static i18n %}
<!DOCTYPE html>
<html{% if LANGUAGE_CODE|language_bidi %} dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{% block title %}{{ IDEASTUBE_NAME }}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'ideastube/vendor/minislate/minislate.min.css' %}" />
        <link rel="stylesheet" href="{% static 'ideastube/vendor/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static "ideastube/main.css" %}">
        <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
        <script type="text/javascript" src="{% url 'javascript' %}"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" {% if IDEASTUBE_BODY_ID %}id="{{ IDEASTUBE_BODY_ID }}"{% endif %}>
        {% block header %}
            {% include 'ideastube/includes/header.html' %}
        {% endblock header %}
        {% block content %}
        {% endblock content %}
        {% block footer %}
            {% include 'ideastube/includes/footer.html' %}
        {% endblock footer %}
        {% block extra_foot %}{% endblock %}
    </body>
</html>
