{% extends 'base.html' %}

{% load i18n ideastube_tags %}

{% block content %}
    <div class="row mwide twide">
        <div class="col wide grid">
            {% for card in cards %}
                {% if not card.is_staff or user.is_staff %}
                    {% if card.id %}
                        {% with 'ideastube/includes/cards/'|add:card.id|add:'.html' as template %}
                            {% include template with domain=domain %}
                        {% endwith %}
                    {% else %}
                        {% include 'ideastube/includes/cards/custom.html' with domain=domain card=card %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
