*.pyc
*.sqlite
docs/_build/*
storage/
debian/ideastube/*
debian/files
debian/ideastube.debhelper.log
debian/ideastube.postinst.debhelper
debian/ideastube.postrm.debhelper
debian/ideastube.prerm.debhelper
debian/ideastube.substvars
debian/ideastube.triggers
.cache
*.bk
*.egg-info
.coverage
builds/
