*.pyc
*.sqlite
docs/_build/*
storage/
debian/ideascube/*
debian/files
debian/ideascube.debhelper.log
debian/ideascube.postinst.debhelper
debian/ideascube.postrm.debhelper
debian/ideascube.prerm.debhelper
debian/ideascube.substvars
debian/ideascube.triggers
.cache
*.bk
*.egg-info
.coverage
builds/
