recursive-include */static *
recursive-include */templates *
recursive-include ideasbox/*/static *
recursive-include ideasbox/*/templates *
recursive-include ideasbox/locale *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
