recursive-include */static *
recursive-include */templates *
recursive-include ideascube/*/static *
recursive-include ideascube/*/templates *
recursive-include ideascube/locale *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
