batinfo==0.3
Django==1.10.1
django-countries==4.0
django-taggit==0.21.2
lxml==3.6.4
mypy-lang
Pillow==3.3.1
progressist
pymarc==3.1.5
python-networkmanager==1.2.1
PyYAML==3.12
resumable-urlretrieve==0.1.2
Unidecode==0.4.19

# Upstream dbus-python is not pip-installable:
#     https://bugs.freedesktop.org/show_bug.cgi?id=55439
#
# So there is a fork on Github that **only** makes it pipi-installable:
#     https://github.com/posborne/dbus-python
#
# But that's for the master branch... which we can't use, because our Travis
# CI base is Ubuntu 12.04, which has DBus 1.4.18, and dbus-python master
# requires DBus >= 1.6.
#
# So we forked the forked, backporting the pip-related patches to the 1.1.1
# branch, and we use that here.
git+https://github.com/ideascube/dbus-python.git@pipified-1.1.1#egg=dbus-python

# Upstream isn't compatible with Django 1.10, and they are taking a long time
# to merge in a fix.
#     https://github.com/kelvinwong-ca/django-select-multiple-field/issues/12
#
# So we forked, and took the branch someone had submitted as a pull request.
git+https://github.com/ideascube/django-select-multiple-field@remove-dj110-warning#egg=django-select-multiple-field
