-r requirements.txt
django-webtest==1.8.0
factory-boy==2.7.0
freezegun==0.3.7
mkdocs==0.15.3
mock==2.0.0
pyquery==1.2.13
pytest==3.0.3
pytest-cov==2.3.1
pytest-django==3.0.0
pytest-mock==1.2
transifex-client==0.12.2
WebTest==2.0.23
