{% extends 'two-third-third.html' %}
{% load i18n ideasbox_tags %}

{% block twothird %}
    <table>
        <caption>{% trans "Users" %} ({{ user_list.count }})</caption>
        <tr>
            <th>{% trans 'Name' %}</th>
            {% for field in USERS_LIST_EXTRA_FIELDS %}
                <th>{{ view.model|field_verbose_name:field }}</th>
            {% endfor %}
        </tr>
    {% for user in user_list  %}
        <tr>
            <td><a href="{% url 'user_detail' pk=user.pk %}">{{ user }}</a></td>
            {% for field in USERS_LIST_EXTRA_FIELDS %}
                <td>{{ user|getattr:field }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% include "ideasbox/pagination.html" %}
{% endblock twothird %}
{% block third %}
    {% include 'search/box.html' with action='.' %}
    <div class="card tinted admin">
        {% fa 'user-plus' 'fa-fw' %} <a href="{% url 'user_create' %}">{% trans "Add user" %}</a>
    </div>
{% endblock third %}
