{% extends 'two-third-third.html' %}
{% load ideasbox_tags %}

{% block twothird %}
    <h2>{{ user_obj }}</h2>
    {% for field in user_obj.public_fields.values %}
        {% if field.value %}<p><strong>{{ field.label }}</strong> {{ field.value }}</p>{% endif %}
    {% endfor %}
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
    <ul class="card tinted admin">
        <li>{% fa 'pencil' 'fa-fw' %} <a href="{% url 'user_update' pk=user_obj.pk %}">Edit</a></li>
        <li>{% fa 'trash' 'fa-fw' %} <a href="{% url 'user_delete' pk=user_obj.pk %}">Delete</a></li>
    </ul>
    {% endif %}
{% endblock third %}
