{% load static %}

<link rel="stylesheet" href="{% static 'ideastube/vendor/minislate/minislate.min.css' %}" />
<link rel="stylesheet" href="{% static 'ideastube/vendor/pikaday/pikaday.css' %}" />
<script src="{% static 'ideastube/vendor/minislate/minislate.js' %}"></script>
<script src="{% static 'ideastube/vendor/moment/moment-with-locales.min.js' %}"></script>
<script src="{% static 'ideastube/vendor/pikaday/pikaday.js' %}"></script>
<script src="{% static 'ideastube/js/ideastube.js' %}"></script>
