{% extends 'form-fullpage.html' %}
{% load i18n %}

{% block heading %}
    <h2>
        {% if inventory %}
            {% blocktrans with date=inventory.made_at %}Edit inventory from {{ date }}{% endblocktrans %}
        {% else %}
            {% trans "Start new inventory" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block col %}
    {% if inventory %}
        <a class="button" href="{{ inventory.get_absolute_url }}">{% trans 'cancel' %}</a>
        <a class="button warning" href="{% url 'monitoring:inventory_delete' pk=inventory.pk %}">{% trans 'delete' %}</a>
    {% endif %}
{% endblock col %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.initDatepicker('made_at')
    </script>
{% endblock extra_foot %}
