{% extends 'form-fullpage.html' %}
{% load i18n %}

{% block heading %}
    <h2>
        {% if inventory %}
            {% blocktrans with date=inventory.made_at %}Edit inventory from {{ date }}{% endblocktrans %}
        {% else %}
            {% trans "Start new inventory" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block cancel_url %}
    {% if inventory %}
        {{ inventory.get_absolute_url }}
    {% else %}
        {% url 'monitoring:stock' %}
    {% endif %}
{% endblock cancel_url %}

{% block extra_form_foot %}
    {% if inventory %}
        <a class="spaced button warning" href="{% url 'monitoring:inventory_delete' pk=inventory.pk %}">{% trans 'delete' %}</a>
    {% endif %}
{% endblock extra_form_foot %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.initDatepicker('made_at')
    </script>
{% endblock extra_foot %}
