{% extends 'form-fullpage.html' %}
{% load i18n %}

{% block heading %}
    <h2>
        {% if specimen %}
            {% blocktrans with item=specimen.item %}Edit specimen of {{item}}{% endblocktrans %}
        {% else %}
            {% trans "Add new specimen" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block cancel_url %}
    {% if specimen %}
        {{ specimen.get_absolute_url }}
    {% else %}
        {% url 'monitoring:stock' %}
    {% endif %}
{% endblock cancel_url %}

{% block extra_form_foot %}
    {% if specimen %}
        <a class="spaced button warning" href="{% url 'monitoring:specimen_delete' pk=specimen.pk %}">{% trans 'delete' %}</a>
    {% endif %}
{% endblock extra_form_foot %}


{% block extra_foot %}
    <script type="text/javascript">
        ID.focusOn('[name="barcode"]');
    </script>
{% endblock extra_foot %}
