{% extends 'form-fullpage.html' %}
{% load i18n %}

{% block heading %}
    <h2>
        {% if specimen %}
            {% blocktrans with item=specimen.item %}Edit specimen of {{item}}{% endblocktrans %}
        {% else %}
            {% trans "Add new specimen" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block col %}
    {% if specimen %}
        <a class="button" href="{{ specimen.get_absolute_url }}">{% trans 'cancel' %}</a>
        <a class="button warning" href="{% url 'monitoring:specimen_delete' pk=specimen.pk %}">{% trans 'delete' %}</a>
    {% endif %}
{% endblock col %}


{% block extra_foot %}
    <script type="text/javascript">
        ID.focusOn('[name="barcode"]');
    </script>
{% endblock extra_foot %}
