{% extends 'form-fullpage.html' %}
{% load i18n %}

{# Deactivate side column #}
{% block side_col %}{% endblock side_col %}

{% block heading %}
    <h2>
        {% if stockitem %}
            {% trans "Edit item" %} "{{ stockitem }}"
        {% else %}
            {% trans "Add new item" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block extra_form_foot %}
    {% if stockitem %}
        <a class="col button neutral" href="{{ stockitem.get_absolute_url }}">{% trans 'cancel' %}</a>
        <a class="col button warning" href="{% url 'monitoring:stockitem_delete' pk=stockitem.pk %}">{% trans 'delete' %}</a>
    {% else %}
        <a class="col button neutral" href="{% url 'monitoring:stock' %}">{% trans 'cancel' %}</a>
    {% endif %}
{% endblock extra_form_foot %}
