{% extends 'form-fullpage.html' %}
{% load i18n %}

{% block heading %}
    <h2>
        {% if stockitem %}
            {% trans "Edit item" %} "{{ stockitem }}"
        {% else %}
            {% trans "Add new item" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block col %}
    {% if stockitem %}
        <a class="button" href="{{ stockitem.get_absolute_url }}">{% trans 'cancel' %}</a>
        <a class="button warning" href="{% url 'monitoring:stockitem_delete' pk=stockitem.pk %}">{% trans 'delete' %}</a>
    {% endif %}
{% endblock col %}
