{% extends 'base.html' %}

{% load i18n ideascube_tags %}

{% block extra_head %}
    {% include 'ideascube/includes/form_statics.html' %}
{% endblock extra_head %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" id="{% block form_id %}model_form{% endblock %}">
        <div class="row">
            {% block heading %}{% endblock heading %}
        </div>
        <div class="row no-margin">
            <div class="col two-third">
                {% csrf_token %}
                {% block form %}
                    {% for field in form %}
                        {% form_field field %}
                    {% endfor %}
                {% endblock form %}
                <div class="row right-align">
                    {% block form_foot %}
                        {% block extra_form_foot %}
                        {% endblock extra_form_foot %}
                        <input type="submit" class="spaced" value="{% trans 'submit' %}" />
                    {% endblock form_foot %}
                </div>
            </div>
            <div class="col third">
                {% block col %}{% endblock col %}
            </div>
        </div>
    </form>
{% endblock content %}
