{% extends 'base.html' %}

{% load i18n ideascube_tags static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "ideascube/cards.css" %}">
{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
    <div class="pure-g card-container">
        {% for card in cards %}
            {% if not card.is_staff or user.is_staff %}
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4 pure-u">
                {% if card.template %}
                    {% include card.template with card=card %}
                {% else %}
                    {% include 'ideascube/includes/cards/custom.html' with card=card %}
                {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
