{% extends 'two-third-third.html' %}

{% load i18n ideasbox_tags %}

{% block extra_head %}
    {% include 'ideasbox/includes/form_statics.html' %}
{% endblock extra_head %}

{% block twothird %}
    <form id="entry_form" method="post">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.serials }}
        {{ form.module }}
        <input type="submit" name="entry_cinema" value="{% trans 'To the cinema module' %}" class="cinema" />
        <input type="submit" name="entry_library" value="{% trans 'To the library module' %}" class="library" />
        <input type="submit" name="entry_digital" value="{% trans 'To the digital module' %}" class="digital" />
    </form>
    <hr />
    <ul class="entries">
        {% for entry in entries %}
            <li><span class="{{ entry.module }} module">{{ entry.module }}</span> {{ entry.user }} {% blocktrans  with time=entry.created_at|timesince %}{{ time }} ago{% endblocktrans%}</li>
        {% endfor %}
    </ul>
{% endblock twothird %}
{% block third %}
    <div class="card tinted">
        <h4>{% trans 'Export' %}</h4>
        <form method="get" action="{% url 'monitoring:export_entry' %}" id="entry_export_form">
            {{ export_form }}
            <input type="submit" value="{% trans 'Export' %}" />
        </form>
    </div>
{% endblock third %}
{% block extra_foot %}
    <script type="text/javascript">
        IDB.focusOn('[name="serials"]');
        IDB.initDatepicker('since')
    </script>
{% endblock extra_foot %}
