{% extends 'form-fullpage.html' %}
{% load i18n %}

{% block heading %}
    {% if specimen %}
        <h2>{% blocktrans with item=specimen.item %}Edit specimen of {{item}}{% endblocktrans %}</h2>
    {% else %}
        <h2>{% trans "Add new specimen" %}</h2>
    {% endif %}
{% endblock heading %}
{% block col %}
    <input type="submit" value="{% trans 'submit' %}" />
    {% if specimen %}
        <a class="button" href="{{ specimen.get_absolute_url }}">{% trans 'cancel' %}</a>
    {% endif %}
{% endblock col %}


{% block extra_foot %}
    <script type="text/javascript">
        IDB.focusOn('[name="barcode"]');
    </script>
{% endblock extra_foot %}
