{% extends 'form-fullpage.html' %}
{% load i18n %}

{% block heading %}
    {% if stockitem %}
        <h2>{% trans "Edit item" %} "{{ stockitem }}"</h2>
    {% else %}
        <h2>{% trans "Add new item" %}</h2>
    {% endif %}
{% endblock heading %}
{% block col %}
    <input type="submit" value="{% trans 'submit' %}" />
    {% if stockitem %}
        <a class="button" href="{{ stockitem.get_absolute_url }}">{% trans 'cancel' %}</a>
        <a class="button warning" href="{% url 'monitoring:stockitem_delete' pk=stockitem.pk %}">{% trans 'delete' %}</a>
    {% endif %}
{% endblock col %}
