{% extends 'two-third-third.html' %}
{% load i18n ideasbox_tags %}

{% block twothird %}
    {% block content_title %}<h2><span class="theme read">{% trans "read" %}</span> {% trans "Medias Center" %}</h2>{% endblock %}
    <div class="grid document-list">
        {% for document in document_list  %}
            {% include "mediacenter/document_card.html" %}
        {% empty %}
            {% trans "No documents yet." %}
        {% endfor %}
    </div>
    {% include "ideasbox/pagination.html" %}
{% endblock twothird %}
{% block third %}
    <div class="card tinted admin">
        {% fa 'plus' 'fa-fw' %} <a href="{% url 'mediacenter:document_create' %}">{% trans "Add a document" %}</a>
    </div>
    {% tag_cloud url='mediacenter:by_tag' model=view.model %}
{% endblock third %}
