{% extends 'two-third-third.html' %}
{% load i18n ideascube_tags %}

{% block twothird %}
    <h5><a href="{% url 'user_list' %}">&lt; {% trans 'View all users' %}</a></h5>
    <h2>{% if user_obj.is_staff %}{% fa 'shield' 'fa-fw' %}{% endif %}{{ user_obj }}</h2>
    {% for field in user_obj.data_fields.values %}
        {% if field.value %}<p><strong>{{ field.label }}</strong> {{ field.value }}</p>{% endif %}
    {% endfor %}
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
    <ul class="card tinted admin">
        <li>{% fa 'pencil' 'fa-fw' %} <a href="{% url 'user_update' pk=user_obj.pk %}">{% trans 'Edit' %}</a></li>
        <li>{% fa 'trash' 'fa-fw' %} <a href="{% url 'user_delete' pk=user_obj.pk %}">{% trans 'Delete' %}</a></li>
        <li>{% fa 'key' 'fa-fw' %} <a href="{% url 'user_set_password' pk=user_obj.pk %}">{% trans 'Set password' %}</a></li>
        <li>{% fa 'shield' 'fa-fw' %} <a href="{% url 'user_toggle_staff' pk=user_obj.pk %}">{% if user_obj.is_staff %}{% trans 'Remove staff status' %}{% else %}{% trans 'Add staff status' %}{% endif %}</a></li>
        <li>{% fa 'user-plus' 'fa-fw' %} <a href="{% url 'user_create' %}">{% trans "Add user" %}</a></li>
    </ul>
    {% endif %}
{% endblock third %}
