{% extends 'form-fullpage.html' %}
{% load i18n ideascube_tags %}

{% block heading %}
    <h2>
        {% if user_obj %}
            {% trans "Edit user" %} {{ user_obj }}
        {% else %}
            {% trans "New User" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block form %}
    {% for section, fields in USER_FORM_FIELDS %}
        <h3>{{ section }}</h3>
        {% for field in fields %}
            {% form_field form|getitem:field %}
        {% endfor %}
    {% endfor %}
{% endblock form %}

{% block extra_foot %}
    <script type="text/javascript">
    ID.focusOn('[name=serial]')
        var inputs = document.querySelectorAll('#model_form input[type="text"]');
        for (var i = 0; i < inputs.length; i++) {
            if (ID.endswith(inputs[i].name, '_date')) ID.initDatepicker(inputs[i].name);
        }
        ID.stopEnterKey('serial');
    </script>
{% endblock extra_foot %}
