{% extends 'form-fullpage.html' %}
{% load i18n ideascube_tags %}

{% block heading %}
    <h2>{% blocktrans with server_name=server_name %}Welcome to {{ server_name }}{% endblocktrans %}</h2>
    <p>{% blocktrans %}To enjoy this digital library, you must first create a username and a password. These will allow you to administrate the server. Make sure to remember both the username AND password!{% endblocktrans %}</p>
{% endblock heading %}

{% block form %}
    {{ form.errors }}
    {% for field in form %}
        {% form_field field %}
    {% endfor %}
{% endblock form %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.focusOn('serial');
    </script>
{% endblock extra_foot %}
