/* ************************************************* */
/* *********************** FONT ******************** */
/* ************************************************* */
@font-face {
    font-family: 'fira_sansbold';
    src: url('./font/FiraSans-Bold.eot');
    src: url('./font/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('./font/FiraSans-Bold.woff') format('woff'),
         url('./font/FiraSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansmedium';
    src: url('./font/FiraSans-Medium.eot');
    src: url('./font/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('./font/FiraSans-Medium.woff') format('woff'),
         url('./font/FiraSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansregular';
    src: url('./font/FiraSans-Regular.eot');
    src: url('./font/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('./font/FiraSans-Regular.woff') format('woff'),
         url('./font/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansbook';
    src: url('./font/FiraSans-Book.eot');
    src: url('./font/FiraSans-Book.eot?#iefix') format('embedded-opentype'),
         url('./font/FiraSans-Book.woff') format('woff'),
         url('./font/FiraSans-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight';
    src: url('./font/FiraSans-Light.eot');
    src: url('./font/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
         url('./font/FiraSans-Light.woff') format('woff'),
         url('./font/FiraSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight_italic';
    src: url('./font/FiraSans-LightItalic.eot');
    src: url('./font/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('./font/FiraSans-LightItalic.woff') format('woff'),
         url('./font/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ************************************************* */
/* ******************** MEDIA QUERIES ************** */
/* ************************************************* */
@media screen and (max-width: 600px) {
    header {
        flex-direction : column;
        -webkit-flex-direction: column;
    }
    header section:first-child {
        margin-top: 15px;
    }
    .boxid {
        display: none;
    }
    header .menu {
        margin-right: 0px;
    }
    .menu a{
        font-size: 80%;
        max-height: 70px;
        margin-top: -20px;
    }
    header .menu a + a {
        margin-left: 20px;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    header {
        -webkit-flex-direction: column;
        flex-direction : column;
    }
    header section:first-child {
        margin-top: 15px;
    }
    .boxid {
        display: inline;
    }
    header .menu {
        margin-right: 0px;
    }
    .menu a {
        font-size: 15px;
        max-height: 70px;
        margin-top: -20px;
    }
    header .menu a + a {
        margin-left: 40px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1280px) {
    header {
        -webkit-flex-direction: row;
        flex-direction : row;
        min-height: 100px;
    }
    .boxid {
        display: inline;
    }
    header .menu {
        margin-right: 0px;
    }
    .menu a {
        font-size: 15px;
    }
    header .menu a + a {
        margin-left: 20px;
    }
    
}
@media screen and (min-width: 1280px) {
    header {
        -webkit-flex-direction: row;
        flex-direction : row;
        min-height: 100px;
    }
    .boxid {
        display: inline;
    }
    header .menu {
        margin-right: 60px;
    }
    .menu a {
        font-size: 15px;
    }
    header .menu a + a {
        margin-left: 20px;
    }
}

/* ************************************************* */
/* ******************** GENERIC RULES ************** */
/* ************************************************* */
body {
    margin: 0;
    padding: 0;
}
body,
input,
textarea {
  color:#404040;
  color:rgba(0,0,0,0.75);
  font:15px/20px 'fira_sansregular', sans-serif;
  -webkit-font-smoothing:antialiased;
}
div, ul, li, a, section, nav,
h1, h2, h3, h4, h5, h6,
hr, input, textarea, footer, header {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
hr {
    clear: both;
    width: 100%;
    height: 0;
    max-width: 980px;
    margin: 28px auto;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
}
ol, ul {
    list-style: none;
}
h2, h3 {
    margin-bottom: 15px;
    line-height: 1.2em;
}
h4, h5 {
    margin-bottom: 5px;
}
h1 {
    line-height: 1em;
}
h1, h2, h3, h4, h5 {
    font-family: 'fira_sansbold';
    font-weight: normal;
}
strong {
    font-family: "fira_sansbold";
    font-weight: normal;
}
a {
    color: #333;
}
img {
    max-width: 100%;
}
table {
    width: 100%;
    border: 1px solid #eee;
}
table td, table th {
    text-align: center;
}
table tr:nth-child(odd) {
    background-color: #eee;
}
table tr th {
    background-color: #ccc;
}

/* ************************************************* */
/* *********************** GRID ******************** */
/* ************************************************* */
.row {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}
.row + .row {
    margin-top: 40px;
}
.col {
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
}
.col + .col {
    padding-left: 40px;
}
html[dir='rtl'] .col + .col {
    padding-left: 0;
    padding-right: 40px;
}
.half {
    width: 50%;
}
.third {
    width: 33.33%;
}
.two-third {
    width: 66.66%
}
.quarter {
    width: 25%;
}
.wide {
    width: 100%;
    padding-right: inherit;
}
.mshow, .tshow {
    display: none;
}
.flow {
    display: -webkit-flex;
    display: flex;
}
.flow * + * {
    margin-left: 5px;
}
html[dir='rtl'] .flow * + * {
    margin-right: 5px;
}


/* ************************************************* */
/* ********************** FORMS ******************** */
/* ************************************************* */
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 50px;
    margin: 0 0 14px;
    padding: 7px;
    width: 100%;
}
input[type="submit"],
.button {
    border: none;
    border-radius: 2px;
    padding: 0;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    background-color: #6C7A89;
    display: inline-block;
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
input[type="submit"].action,
.button.action {
    background-color: #C75C5C;
}
input[type="submit"].warning,
.button.warning {
    background-color: #D91E18;
}
input[type="submit"].neutral,
.button.neutral {
    background-color: #E0E0D1;
    color: #666;
}
input[type="submit"]:hover,
.button:hover {
    background-color: #95A5A6;
    color: #fff;
}
input[type="submit"].warning:hover,
.button.warning:hover {
    background-color: #EF4836;
}
textarea {
    height: 200px;
}
select {
    width: 100%;
    background-color: #fff;
    height: 28px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
select[multiple="multiple"] {
    height: auto;
}
label.strip {
    display: block;
    background-color: #D2D7D3;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    padding: 5px;
    font-family: 'fira_sanslight';
    margin-top: 14px;
}
label.strip + input[type="text"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;    
}
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    font-family: 'fira_sanslight_italic';
}
.editor-dialog input[type="text"] {
    width: auto;
    height: auto;
    margin: 0;
    display: inline;
}
label.required:after {
    content: ' *';
    color: #D35400;
    font-size: 1.2em;
    line-height: 1em;
    float: right;
}
html[dir="rtl"] label.required:after {
    float: left;
}


/* ************************************************* */
/* *************** HEADER & FOOTER ***************** */
/* ************************************************* */
header {
    display: -webkit-flex;
    display: flex;
    padding: 0 20px;
    background-color: #fefefe;
    color: #333;
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
}
header section {
    align-self: center;
    display: -webkit-flex;
    display: flex;
}
header h1 {
    margin-left: 40px;
    background-image: url('./img/Logo-prop2.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 250px;
    width: 300px;
    height: 50px;
}
html[dir='rtl'] header h1 {
    background-position: right center;
    padding-right: 90px;
}
header .menu {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-grow: 3;
    flex-grow: 3;
}
header .menu a {
    color: #333;
    line-height: 100px;
    text-transform: uppercase;
    font-family: 'fira_sansbold';
    font-weight: normal;
}
header .menu a:hover {
    text-decoration: underline;
}
html[dir='rtl'] header .menu a + a {
    margin-left: 20px;
    margin-right: 20px;
}
.dropdown-menu {
    display: flex;
    flex-direction : column;
    margin-left: 20px;
    position: relative;
}
header .menu .dropdown-menu:hover > a {
    text-decoration: underline;
}
header .menu .dropdown-menu:hover ul {
    display: block;
}
.menu-subtitle {
    font-family: 'fira_sansbold';
}
header .menu .dropdown-menu ul {
    display: none;
    position: absolute;
    margin-top: -30px;
    z-index: 999;
    width: 200px;
    background-color: white;
    text-align: left;
    left: -155px;
    padding: 20%;
    border: 1px solid #CCCCCC;   
}
html[dir='rtl'] header .menu .dropdown-menu ul {
    margin-left: 200%;
    text-align: right;
}
.dropdown-menu ul a {
    font-family: 'fira_sansregular';
    text-transform: capitalize;
    line-height: 30px;
}
#logout {
    font-family: 'fira_sansbold';
    text-transform : uppercase;
}
footer {
    /*border-top: 1px solid #222;*/
    padding: 20px;
    color: #fefefe;
    background-color: #95A5A6;
    margin-top: 100px;
}
footer a,
header a {
    text-decoration: none;
    color: #fefefe;
    font-family: 'fira_sanslight';
}
header h1 a {
    color: #333;
}
.boxid {
    font-family: 'fira_sansbold';
    font-weight: normal;
    color: #F89406;
    font-size: 15px;
    padding: 3px 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 25px;
    left: -50px;
    float: right;
}
html[dir='rtl'] .boxid {
    float: left;
    right: -31px;
}
footer .half {
    margin-left: 50%;
}
.i18n_switch {
    padding-top: 32px;
}
.i18n_switch select {
    display: inline;
    width: calc(100% - 100px);
    margin: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    vertical-align: top;
    height: 40px;
}
.i18n_switch input[type='submit'] {
    display: inline;
    width: 100px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
}
html[dir='rtl'] .i18n_switch select {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
html[dir='rtl'] .i18n_switch input[type='submit'] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
/* ************************************************* */
/* ******************** TOOLS ********************** */
/* ************************************************* */
.card {
    float: none;
    clear: both;
}
.card + .card {
    margin-top: 20px;
}
.card h4 {
    text-transform: uppercase;
}
.card h4 a {
    text-decoration: none;
}
.card.khanacademy {
    background-image: url('./img/khanacademy.png')
}
.card.wikipedia {
    background-image: url('./img/wikipedia.png')
}
.card img {
    max-width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
html[dir='rtl'] .card img {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.tinted {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center right;
}
html[dir='rtl'] .tinted {
    background-position: center left;
}
.grid {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.grid .card {
    clear: none;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.card.book img {
    float: right;
    max-height: 100px;
    margin-left: 10px;
}
html[dir='rtl'] .card.book img {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}
.card.book {
    overflow: hidden;
}
.card h3 em {
    font-family: 'fira_sanslight';
    font-style: normal;
}
.card p {
    margin: 5px 0;
}
.card h3, .card h4 {
    margin-bottom: 10px;
}
.theme {
    font-family: 'fira_sansbook';
    text-transform: uppercase;
}
.learn {
    color: #19B5FE;
}
.read {
    color: #87D37C;
}
.create {
    color: #D2527F;
}
.errorlist,
small.error,
div.error,
span.error {
    background-color: #C0392B;
    color: #eee;
    padding: 5px;
    display: block;
    margin-top: -14px;
    margin-bottom: 14px;
}
.messages li {
    margin-bottom: 40px;
    margin-top: -40px;
    padding: 20px;
    text-align: center;
    font-family: 'fira_sansbook';
}
.messages li.success {
    background-color: #66cc99;
}
.messages li.success:before {
    content: '⍟ ';
}
.messages li.success:after {
    content: ' ⍟';
}
.messages li.error {
    background-color: #CF000F;
}
.messages li.error:before {
    content: '⚠ ';
}
.messages li.error:after {
    content: ' ⚠';
}
.messages li.info {
    background-color: #F5AB35;
}
.messages li.info:before {
    content: '♬ ';
}
.messages li.info:after {
    content: ' ♬';
}


/* ************************************************* */
/* ******************** HOME *********************** */
/* ************************************************* */


/* ************************************************* */
/* ******************** BLOG *********************** */
/* ************************************************* */


/* ************************************************* */
/* ******************* LIBRARY ********************* */
/* ************************************************* */
img.cover {
    box-shadow: 0 0 2px black;
    max-height: 300px;
    max-width: 200px;
}
.book-list .card {
    border: 1px solid #efefef;
    padding: 5px;
    width: 250px;
    height: 300px;
    text-align: center;
}
.book-list .card h3 {
    height: 2em;
}
.book-list .card img {
    max-height: 200px;
    float: none;
}
.book-detail h2, h3, h4, h5 {
    margin-bottom: 10px;
}
.book-detail h4 {
    text-transform: uppercase;
}
.book-detail h5 {
    font-family: 'fira_sanslight';
    font-size: 1.3em;
}
.book-detail h3 {
    font-family: 'fira_sansmedium';
    font-size: 1em;
}

/* ************************************************* */
/* **************** SERVER ADMIN ******************* */
/* ************************************************* */
.services .service {
    padding-bottom: 20px;
}
.services .service h3 {
    text-transform: uppercase;
}
.services .service + .service {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.services .status-error h3 span,
.services .status-off h3 span,
.services .status-on h3 span {
    font-family: 'fira_sansbook';
}
.services .status-on h3 span {
    color: #26A65B;
}
.services .status-error h3 span,
.services .status-off h3 span {
    color: #C0392B;
}


/* ************************************************* */
/* ******************* SEARCH ********************** */
/* ************************************************* */
div.search input[name='q'] {
    display: inline;
    width: calc(100% - 100px);
    margin: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    vertical-align: top;
}
div.search input[type='submit'] {
    display: inline;
    width: 100px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    vertical-align: top;
}
html[dir='rtl'] .search input[name='q'] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
html[dir='rtl'] .search input[type='submit'] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.search .results {
    margin-top: 40px;
}
.search .main {
    justify-content: center;
}


/* ************************************************* */
/* **************** MEDIAS CENTER ****************** */
/* ************************************************* */
.document-list .card {
    border: 1px solid #efefef;
    padding: 5px;
    width: 250px;
    height: 250px;
    text-align: center;
}
.document-list .card > a {
    text-decoration: none;
}
.document-list .card h3 {
    height: 3em;
    font-size: 1em;
}
.document-list .card img {
    float: none;
    max-height: 150px;
}
.card.document img {
    float: right;
    max-height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}
html[dir='rtl'] .card.document img {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}
.card.document {
    overflow: hidden;
}


/* ************************************************* */
/* ****************** MONITORING ******************* */
/* ************************************************* */
.module {text-transform: uppercase;}
.cinema {color: #22A7F0;}
.library {color: #F89406;}
.digital {color: #87D37C;}
input.cinema {background-color: #22A7F0;}
input.library {background-color: #F89406;}
input.digital {background-color: #87D37C;}

table.stock {
    color: #444;
}
table.stock td {
    padding: 5px 10px;
}
table.stock tr.stockitem {
    background-color: #eee;
}
table.stock tr.stockitem td {
    text-align: left;
}
table.stock tr.specimen {
    background-color: #fff;
}
table.stock .notfound {
    background-color: #C0392B;
}
table.stock .missing {
    background-color: #F27935;
}
table.stock .missing,
table.stock .notfound,
table.stock .notfound a {
    color: #E0E0D1;
    line-height: 100%;
}
table.stock caption {
    color: #fff;
    text-transform: uppercase;
    padding: 5px 0;
    background-color: #444;
}
table.stock th {
    background-color: #999;
    color: #fff;
    font-family: 'fira_sansmedium';
    font-weight: normal;
}
table.cinema caption {background-color: #22A7F0;}
table.library caption {background-color: #F89406;}
table.digital caption {background-color: #87D37C;}
table.admin caption {background-color: #F2CC11;}
table.stock tr.stockitem .actions,
table.stock .actions {
    text-align: right;
}
