/* ************************************************* */
/* **************** SERVER ADMIN ******************* */
/* ************************************************* */
.list-box {
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
}
.list-box-item {
    text-decoration: none;
    display: block;
    padding: 1em;
    border-bottom: 1px dotted #ddd;
}
.list-box-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.list-box-item span {
    margin: auto 1em;
}

