{% load i18n ideascube_tags static %}

{% spaceless %}
<footer>
    <div class="row">
        <div class="col third i18n_switch">
          {% if LANGUAGES|length > 1 %}
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                {# Next should not contain the i18n prefix, otherwise it will change again lang to current one after redirect. #}
                <input name="next" type="hidden" value="{{ request.path|remove_i18n }}" />
                <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
                </select>
                <input type="submit" value="{% trans 'Change' %}" />
            </form>
	  {% endif %}
        </div>
        <div class="col half">
            <img src="{% static "ideascube/img/logoBSF.png" %}" />
        </div>
    </div>
</footer>
{% endspaceless %}
