{% load static %}

<link rel="stylesheet" href="{% static 'ideascube/vendor/minislate/minislate.min.css' %}" />
<link rel="stylesheet" href="{% static 'ideascube/vendor/pikaday/pikaday.css' %}" />
<script src="{% static 'ideascube/vendor/minislate/minislate.min.js' %}"></script>
<script src="{% static 'ideascube/vendor/moment/moment-with-locales.min.js' %}"></script>
<script src="{% static 'ideascube/vendor/pikaday/pikaday.js' %}"></script>
<script src="{% static 'ideascube/js/ideascube.js' %}"></script>
