{% extends 'serveradmin/index.html' %}
{% load i18n %}

{% block twothird %}
<h2>{% trans "Manage home page" %}</h2>
<form name="cards" method="post" id="cards">
    {% csrf_token %}
    <table>
        <tr><th>{% trans 'Card name' %}</th><th>{% trans 'Displayed' %}</th></tr>
        {% for package in installed_packages %}
        <tr>
            <td>{{ package.name }}</td>
            <td><input name="displayed" type="checkbox" value="{{ package.id }}" {% if package.id in displayed_packages %}checked{% endif %}/></td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="{% trans 'Validate' %}"/>
</form>

{% endblock twothird %}
