{% extends 'third-two-third.html' %}

{% block extra_head %}
    {% include 'ideascube/includes/form_statics.html' %}
{% endblock extra_head %}

{% load i18n ideascube_tags %}

{% block third %}
    <div class="card tinted admin">
        <h4>{% trans 'Server info' %}</h4>
        <ul>
            <li>{% blocktrans with version=IDEASCUBE_VERSION %}Version: {{ version }}{% endblocktrans %}</li>
            <li>{% blocktrans with id=IDEASCUBE_ID %}ID: {{ id }}{% endblocktrans %}</li>
            <li>{% blocktrans with name=IDEASCUBE_HOSTNAME %}Hostname: {{ name }}{% endblocktrans %}</li>
        </ul>
        <hr />
        <ul>
            <li>{% fa 'info-circle' 'fa-fw' %} <a href="{% url 'server:name' %}">{% trans "Server name" %}</a></li>
            <li>{% fa 'language' 'fa-fw' %} <a href="{% url 'server:languages' %}">{% trans "Languages" %}</a></li>
            <li>{% fa 'cogs' 'fa-fw' %} <a href="{% url 'server:services' %}">{% trans "Manage services" %}</a></li>
            <li>{% fa 'power-off' 'fa-fw' %} <a href="{% url 'server:power' %}">{% trans "Restart server" %}</a></li>
            <li>{% fa 'life-ring' 'fa-fw' %} <a href="{% url 'server:backup' %}">{% trans "Manage backups" %}</a></li>
            <li>{% fa 'plug' 'fa-fw' %} <a href="{% url 'server:battery' %}">{% trans "Monitor battery" %}</a></li>
            <li>{% fa 'wifi' 'fa-fw' %} <a href="{% url 'server:wifi' %}">{% trans "Manage Wi-Fi" %}</a></li>
            <li>{% fa 'th' 'fa-fw' %} <a href="{% url 'server:home_page' %}">{% trans "Manage home page" %}</a></li>
        </ul>
    </div>
{% endblock third %}
