{% extends 'serveradmin/index.html' %}
{% load i18n %}

{% block twothird %}
<h2>{% trans "Stop or restart the server" %}</h2>
<form name="server" action="." method="POST">
    {% csrf_token %}
    <input type="submit" name="stop" value="{% trans 'Stop' %}" class="spaced">
    <input type="submit" name="restart" value="{% trans 'Restart' %}" class="spaced">
</form>
{% endblock twothird %}


{% block extra_foot %}
    <script type="text/javascript">
        ID.confirmClick('[name="stop"]');
        ID.confirmClick('[name="restart"]');
    </script>
{% endblock extra_foot %}
