{% load i18n %}

<div class="status-{% if service.error %}error{% else %}{% if service.status %}on{% else %}off{% endif %}{% endif %}">
    <form id="service-{{ service.name }}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="name" value="{{ service.name }}">
        <h3>{{ service.name }} <span>{% if service.status %}running{% else %}not running{% endif %}</span></h3>
        <p>{{ service.description }}</p>
        {% if service.error %}
            <div class="error">{{ service.error }}</div>
        {% elif service.status %}
            <input type="submit" name="restart" value="{% trans 'Restart' %}">
            <input type="submit" name="stop" value="{% trans 'Stop' %}">
        {% else %}
            <input type="submit" name="start" value="{% trans 'Start' %}">
        {% endif %}
    </form>
</div>
