{% extends 'serveradmin/index.html' %}
{% load i18n %}

{% block twothird %}
<h2>{% trans "Manage Wi-Fi" %}</h2>
{% for wifi in wifi_list %}
{% if forloop.first %}<ul class="wifi-list">{% endif %}
    <li>
        <a class="wifi-network" data-ssid="{{ wifi.ssid }}" data-known="{{ wifi.known }}" data-secure="{{ wifi.secure }}">
            {{ wifi.ssid }}
            {% if wifi.connected %}
            <span><i class="fa fa-check"></i></span>
            {% endif %}
            <span class="right">{{ wifi.strength }}%</span>
            {% if wifi.secure %}
            <span class="right"><i class="fa fa-lock"></i></span>
            {% endif %}
        </a>
    </li>
{% if forloop.last %}
</ul>
{% endif %}
{% empty %}
<p>{% trans 'No Wi-Fi available' %}</p>
{% endfor %}

<div id="passphrase-popup" class="overlay">
    <div class="popup">
        <h2>{% trans 'Authentication required' %}</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <p>{% trans 'An encryption key is required to access this network.' %}</p>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="password" id="wifi_key" name="wifi_key" autocomplete="off" />
                <input type="submit" value="{% trans 'Connect' %}" />
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    ID.initWifiList('.wifi-network', '#passphrase-popup', "{% url 'server:wifi' %}");
</script>

{% endblock twothird %}
