#!/usr/bin/make -f

export DH_VERBOSE=1


%:
	dh $@ --with python3,python-virtualenv --buildsystem pybuild

override_dh_virtualenv:
	DH_UPGRADE_SETUPTOOLS='' dh_virtualenv --python /usr/bin/python3 --extra-pip-arg='--no-use-wheel'
