#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_VIRTUALENV_ARGUMENTS=--python=/usr/bin/python3
export DH_VIRTUALENV_INSTALL_ROOT=/opt/venvs
export DH_UPGRADE_SETUPTOOLS=
export DH_UPGRADE_PIP=
export DH_PIP_EXTRA_ARGS=--no-binary=:all:

%:
	dh $@ --with python3 --buildsystem dh_virtualenv

# https://github.com/spotify/dh-virtualenv/issues/209
override_dh_auto_test:
	:
