{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
    {% include 'ideascube/includes/form_statics.html' %}
{% endblock extra_head %}

{% block content %}
    <div class="row">
        <form action="." method="POST" id="login">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="{% trans 'Log in' %}" />

        </form>
    </div>
{% endblock content %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.viewablePassword();
    </script>
{% endblock extra_foot %}
