{% load i18n ideascube_tags %}
{% if available_kinds %}
<div class="card tinted">
    <h4><span class="theme discover">{% trans "browse" %}</span> {% if title %}{{ title }}{% else %}{% trans 'by kind' %}{% endif %}</h4>
    {% for kind, label in available_kinds %}
        {% is_in_qs 'kind' kind as in_qs %}
        {% if in_qs %}
            <a href="{% remove_qs kind=kind %}" class="flatlist active">{{ label }}</a>
        {% else %}
            <a href="{% replace_qs kind=kind %}" class="flatlist">{{ label }}</a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
