{% extends 'two-third-third.html' %}

{% block twothird %}
    <h2>{{ content }}</h2>
    <h5>{{ content.published_at|date:"SHORT_DATE_FORMAT" }} ⚫ {{ content.get_author_display }}</h5>
    {% if content.image %}<div><img src="{{ content.image.url }}"></div>{% endif %}
    <div class="text">{{ content.text }}</div>
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        <div class="card tinted admin">
            <a href="{% url 'blog:content_update' pk=content.pk %}">Edit</a>
        </div>
    {% endif %}
{% endblock third %}
