{% extends 'two-third-third.html' %}
{% load i18n ideasbox_tags %}

{% block twothird %}
    {% for content in content_list  %}
        {% include 'blog/content_card.html' %}
        <hr />
    {% endfor %}
    {% include "ideasbox/pagination.html" %}
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        <div class="card tinted admin">
            {% fa 'plus' 'fa-fw' %} <a href="{% url 'blog:content_create' %}">{% trans "Add content" %}</a>
        </div>
    {% endif %}
    {% tag_cloud url="blog:by_tag" model=view.model %}
{% endblock third %}
