{% load i18n ideasbox_tags %}

{% spaceless %}
<footer>
    <div class="row">
        <ul class="col quarter">Ideas Box
            <li><a href="{% url 'blog:index' %}">{% trans 'Blog' %}</a></li>
            <li><a href="{% url 'library:index' %}">{% trans 'Library' %}</a></li>
            <li><a href="{% url 'mediacenter:index' %}">{% trans 'Medias' %}</a></li>
        </ul>
        <ul class="col quarter">{% trans 'Box Administration' %}
            <li><a href="{% url 'user_list' %}">{% trans 'Manage members' %}</a></li>
            <li><a href="{% url 'monitoring:entry' %}">{% trans 'Manage entries' %}</a></li>
            <li><a href="{% url 'monitoring:stock' %}">{% trans 'Stock' %}</a></li>
            <li><a href="{% url 'monitoring:loan' %}">{% trans 'Loan' %}</a></li>
        </ul>
        <ul class="col quarter">{% trans 'Server Administration' %}
            <li><a href="{% url 'server:services' %}">{% trans "Manage services" %}</a></li>
            <li><a href="{% url 'server:power' %}">{% trans "Restart server" %}</a></li>
            <li><a href="{% url 'server:backup' %}">{% trans "Backup / restore" %}</a></li>
        </ul>
        <div class="col quarter i18n_switch">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                {# Next should not contain the i18n prefix, otherwise it will change again lang to current one after redirect. #}
                <input name="next" type="hidden" value="{{ request.path|remove_i18n }}" />
                <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
                </select>
                <input type="submit" value="{% trans 'Change' %}" />
            </form>
        </div>
    </div>
</footer>
{% endspaceless %}
