{% load i18n %}
{% load i18n ideasbox_tags %}
{% spaceless %}

<header>
    <section><a href="{% url 'index' %}"><h1></h1></a><span class="boxid">{{ IDEASBOX_NAME }}</span></section>
    <section class="menu">
      <a class="mwide tthird" href="{% url 'blog:index' %}">{% trans "blog" %}</a>
      <a class="mwide tthird" href="{% url 'library:index' %}">{% trans "library" %}</a>
      <a class="mwide tthird" href="{% url 'mediacenter:index' %}">Medias</a>
      {% if not user.is_authenticated %}
        <a href="{% url 'login' %}" class="mwide tthird">{% trans "log in" %}</a>
      {% else %}
        <section class="dropdown-menu">
          <a class="mwide tthird" href="#">Admin</a>
          <ul>
            <li class="menu-subtitle">{% trans 'Box Administration' %}</li>
            <li><a href="{% url 'user_list' %}">{% trans 'Manage members' %}</a></li>
            <li><a href="{% url 'monitoring:entry' %}">{% trans 'Manage entries' %}</a></li>
            <li><a href="{% url 'monitoring:stock' %}">{% trans 'Stock' %}</a></li>
            <li><a href="{% url 'monitoring:loan' %}">{% trans 'Loan' %}</a></li>
            <li class="menu-subtitle">{% trans 'Server Administration' %}</li>
            <li><a href="{% url 'server:services' %}">{% trans "Manage services" %}</a></li>
            <li><a href="{% url 'server:power' %}">{% trans "Restart server" %}</a></li>
            <li><a href="{% url 'server:backup' %}">{% trans "Backup / restore" %}</a></li>
            <li><a href="{% url 'logout' %}" id="logout">{% trans "log out" %}</a></li>
          </ul>
        </section>
        <section class="dropdown-menu">
          <a href="#">{% fa 'power-off' 'fa-fw' %}</a>
          <ul class="power-input">
            <form name="server" action="/{{ LANGUAGE_CODE }}/server/power/" method="POST" id="adminaction">
                {% csrf_token %}
            </form>
            <li><a onclick="ServerAdmin('stop')">{% trans 'Stop' %}</a></li>
            <li><a onclick="ServerAdmin('restart')">{% trans 'Restart' %}</a></li>
          </ul>
        </section>
      {% endif %}
    </section>
</header>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endspaceless %}
