{% load i18n %}
<header>
    <section><h1><a href="{% url 'index' %}">{% trans "ideas box" %}</a><span class="boxid">{{ IDEASBOX_NAME }}</span></h1></section>
    <section class="menu"><!--
      --><a class="mwide tthird" href="{% url 'blog:index' %}">{% trans "blog" %}</a><!--
      --><a class="mwide tthird" href="{% url 'library:index' %}">{% trans "library" %}</a><!--
      --><a class="mwide tthird" href="#">Contents</a><!--
      --><a class="mwide tthird" href="{% url 'mediacenter:index' %}">Medias</a><!--
      -->{% if not user.is_authenticated %}<a href="{% url 'login' %}" class="mwide tthird">{% trans "log in" %}</a>{% endif %}<!--
    --></section>
</header>
