{% load i18n %}

<form name="services" action="." method="POST">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ service.name }}">
    <label class="{% if service.error %}error{% else %}{% if service.status %}on{% else %}off{% endif %}{% endif %}">{{ service.name }}</label>
    {% if service.error %}
        <strong>{{ service.error }}</strong>
    {% elif service.status %}
        <input type="submit" name="restart" value="{% trans 'Restart' %}">
        <input type="submit" name="stop" value="{% trans 'Stop' %}">
    {% else %}
        <input type="submit" name="start" value="{% trabs 'Start' %}">
    {% endif %}
    <span>{{ service.sum }}</span>
</form>
