{% extends 'serveradmin/index.html' %}
{% load i18n %}

{% block twothird %}
<h2>{% trans "Manage server backups" %}</h2>
<form name="backups" method="post" enctype="multipart/form-data" id="backup">
    {% csrf_token %}
    <h3>{% trans 'Backup' %}</h3>
    <input type="submit" name="do_create" value="{% trans 'Backup now' %}">
    <hr>
    <h3 id="restore">{% trans 'Restore' %}</h3>
    <table>
        <tr><th>{% trans 'Select' %}</th><th>{% trans 'Source' %}</th><th>{% trans 'Version' %}</th><th>{% trans 'Date' %}</th><th>{% trans 'Size' %}</th><th>{% trans 'Format' %}</th></tr>
    {% for backup in backups %}
        <tr>
            <th><input name="backup" type="radio" value="{{ backup.name }}"></th>
            <td>{{ backup.source }}</td>
            <td>{{ backup.version }}</td>
            <td>{{ backup.date }}</td>
            <td>{{ backup.size|filesizeformat }}</td>
            <td>{{ backup.format }}</td>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" name="do_download" value="{% trans 'Download selected' %}">
    <input type="submit" name="do_restore" value="{% trans 'Restore selected' %}" onclick="if (!confirm('{% trans "Sure?" %}')) return false;" class="warning">
    <input type="submit" name="do_delete" value="{% trans 'Delete selected' %}" onclick="if (!confirm('{% trans "Sure?" %}')) return false;" class="warning">
    <hr>
    <h3 id="upload">{% trans 'Upload' %}</h3>
    <input type="file" name="upload">
    <p>{% trans 'File must be a zip, and file name must be in the form {source}_{version}_{date}.zip; eg.: musasa_0.1.0_201501231405.zip' %}</p>
    <input type="submit" name="do_upload" value="{% trans 'Upload backup file' %}">
</form>
{% endblock twothird %}
