{% load ideascube_tags %}

<div class="card blog">
    <a href="{% url 'blog:content_detail' pk=content.pk %}">
        <h3>{{ content }}</h3>
    </a>
    <h5>
        {% if content.status == content.DRAFT %}draft ⚫ {% endif %}
        {{ content.published_at|date:"SHORT_DATE_FORMAT" }} ⚫ {{ content.get_author_display }}
    </h5>
    <div>
        {% if content.image %}
            <a href="{% url 'blog:content_detail' pk=content.pk %}">
                <img src="{% media content 'image' %}">
            </a>
        {% endif %}
        {{ content.summary|safe }}
    </div>
</div>
