{% extends 'two-third-third.html' %}

{% load ideascube_tags i18n %}

{% block twothird %}
    <h5><a href="{% url 'blog:index' %}">&lt; {% trans 'View all posts' %}</a></h5>
    <h2><span class="theme create">{% trans 'Blog' %}</span> {{ content }}</h2>
    <h5>{{ content.published_at|date:"SHORT_DATE_FORMAT" }} ⚫ {{ content.author }}</h5>
    <div class="text">{{ content.text|safe }}</div>
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        <div class="card tinted admin">
            {% fa 'pencil' 'fa-fw' %}<a href="{% url 'blog:content_update' pk=content.pk %}">Edit</a>
        </div>
    {% endif %}
    {% tag_cloud url="blog:index" model=view.model tags=content.tags.all %}
{% endblock third %}
