{% extends 'form-sidebar.html' %}
{% load i18n ideascube_tags %}

{% block heading %}
    <h2>
        {% if content %}
            {% fa 'pencil' %} {% trans "Edit post" %} "{{ content }}"
        {% else %}
            {% trans "New post" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block form %}
    <h3>{% trans 'Content' %}</h3>
    {% form_field form.title %}
    {% form_field form.text %}
    {% form_field form.summary %}
{% endblock form %}

{% block sidebar %}
    <h3>{% trans 'Metadatas' %}</h3>
    {% form_field form.author %}
    {% form_field form.image %}
    {% form_field form.published_at %}
    {% form_field form.status %}
    {% form_field form.lang %}
    {% form_field form.tags %}
{% endblock sidebar %}

{% block extra_form_footer %}
    {% if content %}
        <a class="col button neutral" href="{{ content.get_absolute_url }}">{% trans 'cancel' %}</a>
    {% else %}
        <a class="col button neutral" href="{% url 'blog:index' %}">{% trans 'cancel' %}</a>
    {% endif %}
{% endblock extra_form_footer %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.focusOn('[name=title]');
        ID.initDatepicker('published_at');
        ID.initEditors();
    </script>
{% endblock extra_foot %}
