{% extends 'two-third-third.html' %}

{% load i18n static ideascube_tags mediacenter_tags %}

{% block twothird %}
    <h5><a href="{% url 'mediacenter:index' %}">&lt; {% trans 'View all medias' %}</a></h5>
    <h2><span class="theme discover">{{ document.slug }}</span> {{ document }}</h2>
    {% if document.kind == document.IMAGE %}
        <img src="{{ document.original.url }}" />
    {% elif document.kind == document.VIDEO %}
        <video controls width="100%">
            <source src="{{ document.original.url }}">
        </video>
    {% endif %}
    <div class="text">{{ document.summary }}</div>
    <div>
        <a class="button" href="{{ document.original.url }}"><span class="fa fa-download fa-fw"></span> {% trans 'Download document' %}</a>
    </div>
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        {% if document.package_id %}
            <span class="card admin">
               {% trans 'Cannot edit or delete this document.' %}
               {% trans 'It is installed by the' %}
               {{ document.package_id }}
               {% trans 'package.' %}
            </span>
        {% else %}
            <ul class="card tinted admin">
                <li>{% fa 'pencil' 'fa-fw' %}<a href="{% url 'mediacenter:document_update' pk=document.pk %}">{% trans 'Edit' %}</a></li>
                <li>{% fa 'trash' 'fa-fw' %}<a href="{% url 'mediacenter:document_delete' pk=document.pk %}">{% trans 'Delete' %}</a></li>
            </ul>
        {% endif %}
    {% endif %}
    {% tag_cloud url="mediacenter:by_tag" model=view.model tags=document.tags.all %}
{% endblock third %}
