{% extends 'form-fullpage.html' %}
{% load i18n %}

{% block heading %}
    <h2>
        {% if document %}
            {% trans "Edit document" %} "{{ document }}"
        {% else %}
            {% trans "New document" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block col %}
    {% if document %}
        <a class="button" href="{{ document.get_absolute_url }}">{% trans 'cancel' %}</a>
    {% endif %}
{% endblock col %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.initEditors();
    </script>
{% endblock extra_foot %}
