{% extends 'two-third-third.html' %}

{% load i18n static ideascube_tags %}

{% block twothird %}
    <h5><a href="{% url 'mediacenter:index' %}">&lt; {% trans 'View all medias' %}</a></h5>
    <h2><span class="theme read">{{ document.get_kind_display }}</span> {{ document }}</h2>
    {% if document.kind == document.IMAGE %}
        <img src="{{ document.original.url }}" />
    {% elif document.kind == document.VIDEO %}
        <video controls width="100%">
            <source src="{{ document.original.url }}">
        </video>
    {% else %}
        <div>
            <a href="{{ document.original.url }}">
                <img src="{% static 'mediacenter/document.svg' %}" /><br />{% trans 'Download document' %}
            </a>
        </div>
    {% endif %}
    <div class="text">{{ document.summary }}</div>
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        <ul class="card tinted admin">
            <li>{% fa 'pencil' 'fa-fw' %}<a href="{% url 'mediacenter:document_update' pk=document.pk %}">{% trans 'Edit' %}</a></li>
            <li>{% fa 'trash' 'fa-fw' %}<a href="{% url 'mediacenter:document_delete' pk=document.pk %}">{% trans 'Delete' %}</a></li>
        </ul>
    {% endif %}
    {% tag_cloud url="mediacenter:by_tag" model=view.model tags=document.tags.all %}
{% endblock third %}
