{% extends 'two-third-third.html' %}
{% load i18n ideascube_tags %}

{% block body_class %}mediacenter{% endblock %}

{% block twothird %}
    {% block content_title %}<h2><span class="theme discover">{% trans "discover" %}</span> {% trans "Medias Center" %}</h2>{% endblock %}
    <div class="grid document-list">
        {% for document in document_list  %}
            {% include "mediacenter/document_card.html" %}
        {% empty %}
            {% trans "No documents yet." %}
        {% endfor %}
    </div>
    {% include "ideascube/pagination.html" %}
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        <div class="card tinted admin">
            {% fa 'plus' 'fa-fw' %} <a href="{% url 'mediacenter:document_create' %}">{% trans "Add a document" %}</a>
        </div>
    {% endif %}
    {% url 'mediacenter:index' as index %}
    {% include 'search/filter_cloud.html' with action=index %}
    {% include 'search/box.html' with action=index %}
    {% if available_kinds %}
    <div class="card tinted">
        <h4><span class="theme discover">{% trans "browse" %}</span> {% trans 'by kind' %}</h4>
        {% for kind, label in available_kinds %}
            <a href="{% add_qs kind=kind %}">{{ label }}</a>
            {% if not forloop.last %}⚫{% endif  %}
        {% endfor %}
    </div>
    {% endif %}
    {% if available_langs %}
    <div class="card tinted">
        <h4><span class="theme discover">{% trans "browse" %}</span> {% trans 'by lang' %}</h4>
        {% for lang, label in available_langs %}
            <a href="{% add_qs lang=lang %}">{{ label }}</a>
            {% if not forloop.last %}⚫{% endif  %}
        {% endfor %}
    </div>
    {% endif %}
    {% tag_cloud url='mediacenter:index' model=view.model tags=available_tags %}
{% endblock third %}
