{% extends 'two-third-third.html' %}
{% load i18n ideascube_tags %}

{% block body_class %}mediacenter{% endblock %}

{% block twothird %}
    {% block content_title %}<h2><span class="theme discover">{% trans "discover" %}</span> {% trans "Medias Center" %}</h2>{% endblock %}
    <div class="grid document-list">
        {% for document in document_list  %}
            {% include "mediacenter/document_card.html" %}
        {% empty %}
            {% trans "No documents yet." %}
        {% endfor %}
    </div>
    {% include "ideascube/pagination.html" %}
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        <div class="card tinted admin">
            {% fa 'plus' 'fa-fw' %} <a href="{% url 'mediacenter:document_create' %}">{% trans "Add a document" %}</a>
        </div>
    {% endif %}
    {% url 'mediacenter:index' as index %}
    {% if q or kind or lang or tags %}
        <div class="card tinted">
            <h4>{% trans "Filters" %}</h4>
            <ul>
                <li><a href="{% url 'mediacenter:index' %}">{% trans "Remove all filters" %}</a></li>
            {% if q %}
                <li><a href="{% remove_qs q=q %}">{% trans "Remove filter" %} {{ q }}</a></li>
            {% endif %}
            {# Well... lookup in a dict or lookup in a list of tuples, what is the best ? #}
            {% if kind %}
                <li><a href="{% remove_qs kind=kind %}">{% trans "Remove filter" %} {{ view.model.KIND_DICT|getitem:kind }}</a></li>
            {% endif %}
            {% if lang %}
                {% with LANG_INFO|getitem:lang as lang_info %}
                <li><a href="{% remove_qs lang=lang %}">{% trans "Remove filter" %} {{ lang_info.name }}</a></li>
                {% endwith %}
            {% endif %}
            {% for t in tags %}
                <li><a href="{% remove_qs tags=t %}">{% trans "Remove filter" %} {{ t }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% include 'search/box.html' with action=index %}
    {% if not_empty_kinds|length > 1 %}
    <div class="card tinted">
        <h4><span class="theme discover">{% trans "browse" %}</span> {% trans 'by kind' %}</h4>
        {% for kind, label in not_empty_kinds %}
            <a href="{% add_qs kind=kind %}">{{ label }}</a>
            {% if not forloop.last %}⚫{% endif  %}
        {% endfor %}
    </div>
    {% endif %}
    {% if not_empty_langs|length > 1 %}
    <div class="card tinted">
        <h4><span class="theme discover">{% trans "browse" %}</span> {% trans 'by lang' %}</h4>
        {% for lang, label in not_empty_langs %}
            <a href="{% add_qs lang=lang %}">{{ label }}</a>
            {% if not forloop.last %}⚫{% endif  %}
        {% endfor %}
    </div>
    {% endif %}
    {% tag_cloud url='mediacenter:index' model=view.model %}
{% endblock third %}
